@import "vars";
@import "image";

$color-primary: #111111;
$body-color: #ffff;
$span-color: #4a4ff2;
$border-color: 1px solid rgb(255, 0, 119);
$body-font: "Poppins", sans-serif;

header {
  background-image: url("/images/image\ 1.png");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 821px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Josefin Sans";
}
.text {
  position: absolute;
  top: 265px;
  left: 673px;
  width: 372px;
  height: 76px;
  overflow: hidden;
  font-size: 48px;
  h1 {
    color: #ffffff;
    text-align: center;
    font: 700 48px/26px "Josefin Sans", sans-serif;
    text-transform: uppercase;
    width: 342px;
    display: flex;
    justify-content: center;
  }

  p {
    color: #ffffff;
    text-align: center;
    font: 400 22px/26px "Josefin Sans", sans-serif;
    position: relative;
    width: 345px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button {
  height: 6%;
  background-color: #0084ff;
  width: 5%;
  border: none;
  font-size: 22px;
}
.Search {
  color: #ffffff;
  text-align: center;
  font: 400 14px/26px "Aleo", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botton,
input {
  font-family: inherit;
  font-size: 100%;

  width: 40%;
  height: 6%;
  margin: 0;
}

// button,
// input,
// optgroup,
// select,
// textarea {
//   font-family: inherit;
//   font-size: 100%;
//   width: 7%;
//   line-height: 2.15;
//   margin: 0;
// }

.search-bar {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.search-bar-item {
  position: absolute;
  top: 2px;
  left: 502px;
  width: 153px;
  height: 63px;
}

.menu {
  position: absolute;
  top: 774px;
  left: 917px;
  width: 525px;
  height: 12px;
  overflow: hidden;
  text-align: left;
  font-family: Aleo;
}

.contact-us {
  position: absolute;
  top: -6px;
  left: 438px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 117px;
}
.travel-with-us {
  position: absolute;
  top: -6px;
  left: 279px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 148px;
}

.image-1-icon {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 1770px;
  height: 820px;
  object-fit: cover;
}

.what-we-do {
  position: absolute;
  top: -6px;
  left: 138px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 128px;
}

.search-your-travel {
  position: absolute;
  top: 19px;
  left: 113px;
  letter-spacing: 2.8px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
}
.search {
  position: absolute;
  top: 21px;
  left: 523px;
  letter-spacing: 1.4px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: Aleo;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
}
