* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-repeat: no-repeat;
  padding: 0x;
  margin: 0;
}

nav {
  align-items: center;
  margin: 1% auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
}
nav .links {
  display: flex;
}
nav .links a {
  padding: 10px;
  text-decoration: none;
}

footer {
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
  align-items: center;
}
footer .links-3 {
  display: flex;
  margin-left: 45%;
  justify-content: space-evenly;
  width: 40px;
  padding: 10px;
}
footer .links-3 a {
  padding: 10px;
  text-decoration: none;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style: none;
  padding: 10px;
}

.image {
  margin: 0 auto;
  display: block;
  margin-bottom: 7vh;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

main {
  background-color: white;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;
}
main button:hover {
  cursor: pointer;
}

header {
  background-image: url(/images/image\ 1.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  overflow: hidden;
  text-align: center;
  color: #fff;
  flex-direction: column;
}
header .text {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .text h1 {
  color: #ffffff;
  text-align: center;
  font: 700 48px/1px "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
header .text p {
  color: #ffffff;
  text-align: center;
  font: 400 22px/26px "Josefin Sans", sans-serif;
  margin-bottom: 6%;
}

.search-par {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.search-par input {
  width: 30%;
  text-align: center;
  font: 400 14px/40px "Josefin Sans", sans-serif;
}
.search-par button {
  display: flex;
  background-color: #5474fd;
  border: none;
  height: 45px;
  border-block-color: white;
  justify-content: space-evenly;
  align-items: center;
}
.search-par .Search {
  color: #ffffff;
  border-color: #5474fd;
  text-align: center;
  font: 400 14px/26px "Aleo", sans-serif;
  text-transform: uppercase;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-par i {
  margin-right: 10px;
}

.scroll-down-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
}
.scroll-down-1 span {
  color: #ffffff;
  text-align: center;
  font: 400 14px/26px "Josefin Sans", sans-serif;
}

.par {
  background-color: #5474fd;
  width: 100%;
  height: 10vh;
  display: flex;
  margin: 0;
}
.par h2 {
  color: #ffffff;
  text-align: left;
  font: 700 24px/26px "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.par .menu {
  display: flex;
  width: 36%;
}
.par .menu a {
  font: 400 14px/26px Aleo, sans-serif;
  text-decoration: none;
  color: white;
}

.part-2 {
  background-image: url(/images/part-2.png);
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
}
.part-2 .left-side {
  display: flex;
  width: 50%;
  margin-top: 6.5%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.part-2 .left-side .title-1 {
  margin-top: 20%;
  width: 75%;
  color: #ffffff;
  text-align: left;
  font: 400 36px/26px "Aleo", sans-serif;
}
.part-2 .left-side .info {
  color: #e8e8e8;
  font: 400 16px/26px "Josefin Sans", sans-serif;
  margin-top: 5%;
  width: 75%;
}
.part-2 .left-side .info p {
  margin-bottom: 5%;
}
.part-2 button {
  width: 37%;
  height: 22%;
  background-color: #5474fd;
  border: none;
}
.part-2 button a {
  color: white;
  text-decoration: none;
}

.images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.images .river {
  padding-right: 10%;
  margin-top: 10%;
}
.images .Woman {
  padding-left: 10%;
  margin-bottom: 1%;
  height: auto;
  display: flex;
}

.container {
  display: flex;
  background-color: #333333;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.container .how-it-works {
  display: flex;
  width: 75%;
  margin-top: -5%;
}
.container .how-it-works .search-1 {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container .how-it-works h3 {
  color: #e8e8e8;
  text-align: center;
  font: 400 36px/26px "Aleo", sans-serif;
}
.container .how-it-works i {
  margin-bottom: 25%;
}
.container .curve {
  margin-top: 10%;
}

.part-3 .commerical-1 {
  padding-left: 33px;
  background-color: rgba(35, 35, 35, 0.768);
  width: 543px;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 52vh;
  right: 28vh;
}
.part-3 h4 {
  color: #e8e8e8;
  text-align: left;
  font: 400 16px/26px "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
}
.part-3 h2 {
  color: #e8e8e8;
  text-align: left;
  font: 400 20px/26px "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
}
.part-3 button {
  width: 37%;
  height: 22%;
  background-color: #5474fd;
  border: none;
}
.part-3 button a {
  color: white;
  text-decoration: none;
  font: 400 16px/26px "Aleo", sans-serif;
}

.part-4 {
  margin-top: -38vh;
}
.part-4 .commerical-2 {
  padding-left: 33px;
  background-color: rgba(35, 35, 35, 0.768);
  width: 543px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 47vh;
  left: 29vh;
}
.part-4 h4 {
  color: #e8e8e8;
  text-align: left;
  font: 400 16px/26px "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
}
.part-4 h2 {
  color: #e8e8e8;
  text-align: left;
  font: 400 20px/26px "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  width: 100%;
}
.part-4 button {
  width: 37%;
  height: 22%;
  background-color: #5474fd;
  border: none;
}
.part-4 button a {
  color: white;
  text-decoration: none;
  font: 400 16px/26px "Aleo", sans-serif;
}

.part-5 {
  background-image: url(/images/image7.png);
  width: 100%;
  height: 731px;
  position: relative;
  top: -38vh;
  color: #ffffff;
  font: 400 36px/26px "Aleo", sans-serif;
  display: flex;
  align-items: center;
}
.part-5 h2 {
  color: #ffffff;
  margin-bottom: 10%;
  text-align: center;
  font: 400 36px/26px "Aleo", sans-serif;
}

.group-2 {
  width: 60%;
  gap: 7%;
  display: flex;
  background-color: #333333;
  padding: 10px;
  align-items: center;
}
.group-2 h3 {
  font: 400 22px/26px "Josefin Sans", sans-serif;
  margin-bottom: 20px;
}
.group-2 h4 {
  font: 400 16px/26px "Josefin Sans", sans-serif;
}

footer {
  background-color: #333333;
  margin: -39vh auto;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
footer h2 {
  color: #ffffff;
  text-align: center;
  font: 700 28px/1px "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
footer h4 {
  font: 400 22px/2px "Josefin Sans";
  color: white;
}
footer .texet-4 {
  display: flex;
}
footer .icon {
  display: flex;
  list-style: none;
  color: white;
}
footer .icon li {
  list-style: none;
  margin: 0 10px;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    max-width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  main .header {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main .header .text {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }
  main .header .text h1 {
    color: #ffffff;
    text-align: center;
    font: 700 48px/1px "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
  main .header .text h1 p {
    text-align: center;
    font: 500 60px/102px "Poppins", sans-serif;
  }
  nav {
    display: flex;
    text-align: center;
    font-size: 8px;
    flex-direction: column;
    font-size: 50%;
  }
  nav .logo {
    font-size: 30px;
  }
  nav .menu {
    width: 80%;
  }
  nav .menu a {
    width: 100%;
  }
  .part-2 .left-side .title-1 {
    width: 50%;
  }
  .part-2 .info {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
  main {
    max-width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  main nav {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  main nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }
  .header .text h1 {
    text-align: center;
    font: 500 84px/102px "Poppins", sans-serif;
  }
  img {
    width: auto;
    height: auto;
  }
  .part-2 {
    width: 100%;
  }
  .part-2 .left-side .title-1 {
    width: 80%;
  }
  .part-2 .left-side p {
    width: 80%;
  }
  .part-2 .images {
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */